<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="outputfile"                value="C:\Users\USUARIO\Documents\HIGHSCORES_FILTER.txt" />

    <!-- The field shouldSaveAllPlayers must be 0-->
    <add key="numberPlayersTopExpExport"           value="50" />

    <!-- If you need to choose more than one, use "," to separate the fields. Example: Knight,Sorcerer,Paladin -->
    <!-- You can use the vocation "ALL" to generate information independent of vocation, but can't be accompanied by other vocations  -->
    <add key="vocationPlayers"                     value="All"/>
    
  </appSettings>

</configuration>